{% extends 'base/navbar.html' %}
{% load static %}
{% block content %}

<div class="d-flex justify-content-center">
    <img src="{% static 'img/blog/Banner-eutanasia-a-mascota.png' %}" alt="">
</div><br>

<div class="p-5">
    <p style="color:#6CABDD ;">
        Sabemos que de tan solo decirlo la piel se te eriza, no es un tema del que nos guste hablar, pero definitivamente es
        algo en lo que debemos de estar informados.
    
        Vayamos a lo básico:
    
        ¿Qué es la eutanasia?
        Eutanasia: del griego “eu”, bien, “Thánatos”, muerte, en pocas palabras es EL BIEN MORIR.
    </p>
    <p>
    
        La eutanasia consiste en llevar a tu mascota hacia una muerte menos dolorosa de la mano de su veterinario, ya que un
        profesional es quien debe de llevar a cabo el proceso, ya que solo él conoce los protocolos correctos que ayudarán
        en esta transición a tu mejor amigo.
    
        Cuando hablamos de amor por nuestras mascotas, este término también debe estar incluido, pero debemos de ser muy
        responsables al hacerlo válido.
    </p>
    <p>
        Cómo saber que llegó el momento de la decisión final?
        La eutanasia en mascotas es aplicable cuando el bienestar de tu mascota o familia este comprometido. ¿Qué quiere
        decir esto? Cuando tu mascota se ve imposibilitada físicamente por una enfermedad o que esté gravemente herida y
        esto le esté impidiendo continuar con una calidad de vida adecuada.
    
        Podemos decir que el momento clave, es cuando detectes que sus ratos malos son más que los buenos, claro no sin
        antes tomar en cuenta la opinión de su veterinario, quien te ayudará a evaluar la situación y darte alternativas de
        tratamiento o cirugía.
    </p>
    <p>
        Sin embargo hay otras situaciones como la agresividad o que tu mascota se convierta en un peligro para el entorno,
        lo cual debe de ser evaluado por un profesional e incluso considerar terapias o entrenamientos antes de llegar a
        esta decisión.
    
        La despedida.
        Es válido que compartas con tu familia o amigos esta decisión, que lo platiques sobre todo para que tengas el apoyo
        emocional y te prepares para el momento.
    </p>
    <p>
        Lo más importante en este proceso es que te despidas de tu mascota agradeciéndole por todo el amor y las
        experiencias juntos, esto será de gran ayuda para ambos, así tu podrás cerrar el ciclo y tu mascota podrá sentir la
        tranquilidad y el permiso de poder marcharse.
    
        Y después qué sigue…
    
        No minimices tu dolor, el duelo vivido por la pérdida de una mascota es igual de dolorosa a cualquier pérdida de un
        familiar o amigo, por lo que te recomendamos asistir a terapia para procesar la emoción causada, si es necesario
        tener un ritual de despedida no dudes en hacerlo, será liberador para ti.
    
        Recuerda que con MAS Assist Mascota cuentas con eutanasia asistida por un profesional para evitar el sufrimiento de
        tu peludito, así como con los gastos funerarios derivados de el proceso.
    
    </p>
</div>


{% endblock %}