{% extends 'base/navbar.html' %}
{% load static %}
{% block content %}

<section class="page-section bg-light p-5"  id="portfolio">
    <div class="container">
        <div class="bg-image img-fluid" style="background: url('../static/img/Quiero-ser-proveedor/Red-de-provedores.png')no-repeat 0px 0px">
            <br><br><br>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="row justify-content-end">
                    
                    <div class="col-md-6 offset-md-6">
                        <h6 class="text-info">Registro de contacto</h6>
                        <input type="text" name="name" id="" placeholder="l Nombre Completo" class="form-control mt-1 border border-primary rounded-pill">
                    </div>
                    <div class="col-md-3">
                        <input type="text" name="email" id="" placeholder="l Correo Electronico" class="form-control mt-2 border border-primary rounded-pill">
                    </div>
                    <div class="col-md-3 offset-md-0">
                        <input type="text" name="phone" id="" placeholder="l Telefono" class="form-control mt-2 border border-primary rounded-pill">
                    </div>
                    <div class="col-md-6 offset-md-6">
                        <textarea rows="3" name="comment" id="" placeholder="l Comentarios" class="form-control mt-2 border border-primary" style="border-radius: 10px;"></textarea>
                    </div>
                      <div class="col-md-6">
                        <button class="btn btn-info mt-4">ENVIAR</button> 
                      </div>
                </div>       
                </form>
                <br><br><br><br><br><br><br><br><br>
        </div>
        
    </div>
</section>

<section class="page-section bg-light p-5" id="portfolio">
    <div class="container">
        <h3 class="section-heading text-info text-center">Contamos con una amplia red de proveedores de servicios que hemos consolidado con los más altos estándares de calidad, segurdad, experiencia y ética</h3>
        <div class="row">
            <div class="col-lg-4 col-sm-6 mb-4 mt-5">
                <div class="portfolio-item">
                        <img style="position: absolute;" class="img-fluid" src="{% static 'img/Quiero-ser-proveedor/Certificado-3.png' %}" alt="..." />
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mt-2">
                <div class="portfolio-item">
                        <img  class="img-fluid" src="{% static 'img/Quiero-ser-proveedor/Abogados.png' %}" alt="..." />
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mt-2">
                <div class="portfolio-item">
                        <img class="img-fluid" src="{% static 'img/Quiero-ser-proveedor/Mecanicos.png' %}" alt="..." />
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mt-5">
                <div class="portfolio-item">
                        
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-item">
                        <img class="img-fluid" src="{% static 'img/Quiero-ser-proveedor/Ambulancia.png' %}" alt="..." />
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 ">
                <div class="portfolio-item">
                        <img class="img-fluid" src="{% static 'img/Quiero-ser-proveedor/Gruas.png' %}" alt="..." />
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mt-4 ">
                <div class="portfolio-item">
                        <img class="img-fluid" src="{% static 'img/Quiero-ser-proveedor/Choferes.png' %}" alt="..." />
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mt-4 ">
                <div class="portfolio-item">
                        <img class="img-fluid" src="{% static 'img/Quiero-ser-proveedor/Medicos.png' %}" alt="..." />
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mt-4 ">
                <div class="portfolio-item">
                        <img class="img-fluid" src="{% static 'img/Quiero-ser-proveedor/Plomeros.png' %}" alt="..." />
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mt-4 ">
                <div class="portfolio-item">
                        <img class="img-fluid" src="{% static 'img/Quiero-ser-proveedor/Suministro.png' %}" alt="..." />
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}